{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}


    <h1>Question index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
                <th>point</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.question }}</td>
                <td>{{ question.point }}</td>
                <td>
                    <a href="{{ path('app_question_show', {'id': question.id}) }}">show</a>
                    <a href="{{ path('app_question_edit', {'id': question.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_response_of_question_index') }}" class="btn btn-primary">
        Response
    </a>

    <a class="btn btn-warning" href="{{ path('app_question_new', {'formType': 'no_file'}) }}">Create new (Question)</a>

    <a class="btn btn-success" href="{{ path('app_question_new', {'formType': 'file'}) }}">Create new (Question File)</a>

{% endblock %}
